<h1>All Users Listed Here</h1>
<% if current_user %>
  Logged in as <%= current_user.name %>.
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "Log in", login_path %>
<% end %>
<p id='notice'><%= notice %></p>
<ul>
  <%@participations.each do |participation|%>
    <li><%=  participation.marathon.name %></li>
    <li><%=  participation.marathon.date %></li>
    <li><%=  participation.marathon.location %></li>
    <br>
  <%end%>
<ul>
