<div class="form-wrapper">
  <div class="form-cont-wrapper container">
    <h1>Join us and Run!</h1>
    <div class="sign-up-wrapper">
    <%= form_for @user do |f|%>

      <div class="form-row">
        <div class="form-label col-md-4"><%= f.label :name %></div>
        <div class="form-input col-md-8"><%= f.text_field :name%></div>
      </div>

      <div class="form-row">
        <div class="form-label col-md-4"><%= f.label :age %></div>
        <div class="form-input col-md-8"><%= f.text_field :age%></div>
      </div>

      <div class="form-row">
        <div class="form-label col-md-4"><%= f.label :password %></div>
        <div class="form-input col-md-8"><%= f.password_field :password %></div>
      </div>

      <div class="form-row">
        <div class="form-label col-md-4"><%= f.label :password_confirmation %></div>
        <div class="form-input col-md-8"><%= f.password_field :password_confirmation %></div>
      </div>

      <div class="form-btn">

        <%= f.submit 'New User'%>
      </div>
    <%end%>
    </div>
  </div>
</div>
