<main role="main" class="container">

  <div class="starter-template">
    <h1 class="sub-title"><%= @marathon.name %> <%= @marathon.location %></h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="mara-info">
        <img src="<%= @marathon.img_link %>" alt="">
        <ul>
          <li>
            <span style="font-weight:bold">DATE</span>
            <span><%= @marathon.date %></span>
          </li>
          <li>
            <span style="font-weight:bold">TYPE</span>
            <span><%= @marathon.m_type %></span>
          </li>
          <li>
            <p class="detail">DETAILS</p>
            <span><%= @marathon.description %></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="back-btn">
      <a href="/marathons">
        <i class="fas fa-chevron-left"> BACK</i>
      </a>
    </div>

    <%= render "participations/button" %>
    <!-- <button><%#= link_to "Back", marathons_path %></button> -->




  </div>
</main><!-- /.container -->
</html>



<!-- notes -->
<!-- put the participation follow button here -->
