
<main role="main" class="container mara-info m1">

  <div class="starter-template">
    <h1 class="sub-title"><%= @marathon.name %></h1>
  </div>
  <div class="container mara-info m2">
    <div class="row marathon">
      <div class="mara-info">
        <img src="<%= @marathon.img_link %>" alt="">
        <ul>
          <li>
            <span style="font-weight:bold">DATE</span>
            <span><%= @marathon.date %></span>
          </li>
          <li>
            <span style="font-weight:bold">TYPE</span>
            <span><%= @marathon.m_type %></span>
          </li>
          <li>
            <p class="detail">DETAILS</p>
            <span><%= @marathon.description %></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-btn-wrapper">
      <button class="btn btn-warning marathon">
        <a href="/marathons">
          <i class="fas fa-chevron-left"> </i> Back to List
        </a>
      </button>
      <div class="m-follow-btn">

        <%= render "participations/button" %>
      </div>
    </div>
  </div>
</main><!-- /.container -->
</html>



<!-- notes -->
<!-- put the participation follow button here -->
